@font-face {
  font-family: opensans;
  src: url(../fonts/opensans-light.ttf);
}

@media screen and (max-width: 200px) {
  .column {
    width: 100%;
  }
}

html {
  font-family: opensans;
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  border: none;
  pointer-events: none;
}

#title {
  text-align: center;
  margin-bottom: 0em;
}

#button-container {
  text-align: center;
}

.button {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
  background-color: white;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: opensans;
  font-size: 1.25em;
  text-align: center;
  margin-left: 5px;
  margin-right: 10px;
  

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.column {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#mid-column {
  background-color: whitesmoke;
}

#footer {
  position: fixed;
  bottom: 0px;
}