html {
  color: #131B23;
}

a {
  color: #5433ff;
  text-decoration: none;
}

div + div {
  margin-top: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content-container {
  padding: 12px;
}

.title {
  font-size: 32px;
}

#headshot {
  margin-bottom: 16px;
  border-radius: 50%;
}
